<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>Archetype Created Web Application</display-name>

	<!-- 添加spring的启动监听器ContextLoaderListener -->
	<!-- 监听器Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 定位applicationContext.xml的物理位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!-- 加入struts2的核心过滤器 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

	<!-- 加入登录过滤器
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.jun.dpms.sys.filter.LoginFilter</filter-class> -->
		<!-- 过滤器例外页面
		<init-param>
			<param-name>excludePage</param-name>
			<param-value>/signIn.jsp,/jsp/sys/refindPass.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping> -->
	<welcome-file-list>
		<welcome-file>signIn.jsp</welcome-file>
	</welcome-file-list>
</web-app>
